.header {
  background-color: #EF4C8B;
  justify-content: space-between;
  position: sticky;
}

.jumbo {
  justify-content: space-between;
  background-color: #FC5193;
  align-items: center;
}

.jumbo-title {
  text-align: right;
  padding: 5rem 0.9rem 5rem 0;
}

.jumbo-title div {
  color: #fff;
  font-weight: bold;
}

.jumbo-title div:first-child {
  font-size: 1.5rem;
}

.jumbo-title div:nth-child(2) {
  font-size: 1rem;
}

.icon-div {
  text-align: center;
}

.topic-div {
  background-color: #DF3F7E;
  font-size: 0.75rem;
  padding-left: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-family: sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.one-region {
  justify-content: space-between;
  padding: 1.5rem 0.98rem;
  color: #fff;
}

.bx-icon-2 {
  padding-top: 0.15rem;
  margin-left: 0.5rem;
}

.region-odd {
  background-color: #EA4B89;
}

.region-even {
  background-color: #CF4278;
}